
@tailwind base;
@tailwind components;
@tailwind utilities;z

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply dark:bg-black bg-amber-50;
  }
}

    
@for $i from 1 through 10 {
    li:nth-child(#{$i}n) {
        transition-delay: #{$i * 100 + 500}ms;
    }
}
@for $i from 1 through 10 {
  ul:nth-child(#{$i}n) {
      transition-delay: #{$i * 100 + 700}ms;
  }
}
