@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

pre {
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply dark:bg-black bg-amber-50 transition-colors duration-200;
  }
}

@for $i from 1 through 50 {
  li:nth-child(#{$i}n) {
    transition-delay: #{$i * 100 + 500}ms;
  }
}
@for $i from 1 through 50 {
  ul:nth-child(#{$i}n) {
    transition-delay: #{$i * 100 + 700}ms;
  }
}

@layer components {
  .blogitem {
    @apply group-hover:text-gray-500;
  }
}
::selection {
  @apply dark:bg-[#00444e] bg-[#dad3c1];
}
